{% extends 'admin/admin.html.twig' %}


{% block body %}

    {% block leftsidebar %}

        {{ parent() }}

    {% endblock %}

    {% block rightpart %}

        <div class="right-part add-article">

            {{ form(form) }}


        </div>

    {% endblock %}


{% endblock %}